*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:url('../images/login-bg.png');
    background-size:cover;
    background-position:center;
    min-height:100vh;
}

.login-container{
    display:flex;
    min-height:100vh;
}

/* LEFT */

.left-panel{
    flex:1;
    padding:40px 60px;
    position:relative;
}

.logo{
    height:90px;
}


/* RIGHT */

.right-panel{
    width:650px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.login-card{
    width:100%;
    background:#f7f7f7;
    padding:40px;
    border-radius:20px;
    box-shadow:
    10px 10px 0 rgba(0,0,0,.15);
    transform:translateX(-90px);
}

.login-card h2{
    font-size:45px;
    margin-bottom:25px;
}

.login-card label{
    display:block;
    margin-top:20px;
    margin-bottom:10px;
    font-weight:bold;
}

.input-group{
    display:flex;
    align-items:center;
    border:2px solid #ddd;
    border-radius:15px;
    padding:12px 15px;
    background:white;
}

.input-group i{
    color:#999;
}

.input-group input{
    flex:1;
    border:none;
    outline:none;
    padding-left:15px;
    font-size:16px;
}

/* OPTIONS */

.options{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}

.options a{
    color:red;
    text-decoration:none;
    font-weight:bold;
}

/* BUTTON */

.login-btn{
    width:100%;
    background:red;
    color:white;
    border:none;
    padding:15px;
    border-radius:12px;
    margin-top:25px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

.login-btn:hover{
    background:#cc0000;
}

.error-message{
    background:#ffe5e5;
    color:#cc0000;
    padding:12px;
    border-radius:10px;
    margin-bottom:20px;
    text-align:center;
    font-weight:bold;
}

.success-message{
    background:#e8f7ee;
    color:#198754;
    border:1px solid #b7e4c7;
    padding:12px;
    margin-bottom:18px;
    border-radius:8px;
    text-align:center;
    font-size:14px;
}

.divider{
    text-align:center;
    margin:25px 0;
}

.divider span{
    color:#999;
}

.social-btn{
    width:100%;
    border:2px solid #ddd;
    background:white;
    padding:14px;
    border-radius:12px;
    margin-bottom:15px;
    cursor:pointer;
    font-weight:bold;
}

.social-btn i{
    margin-right:10px;
}

.register{
    text-align:center;
    margin-top:20px;
}

.register a{
    color:red;
    text-decoration:none;
    font-weight:bold;
}


@media(max-width:768px){

    .left-panel{
        display:none;
    }

    .right-panel{
        width:100%;
    }

}

.password-toggle{
    border:none;
    background:transparent;
    cursor:pointer;
    color:#888;
    font-size:17px;
    padding:0;
    margin-left:10px;
}

.password-toggle:hover{
    color:#d32f2f;
}