*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f7f7f7;
}

.tech-layout{
    display:flex;
}

.tech-sidebar{
    width:260px;
    min-height:100vh;
    background:rgb(0, 0, 0);
    padding:18px;
    position:fixed;
    box-shadow:2px 0 12px rgba(0,0,0,.08);
}

.tech-logo{
    width:220px;
    margin-bottom:25px;
}

.tech-sidebar a{
    display:flex;
    align-items:center;
    gap:14px;
    padding:14px;
    border-radius:8px;
    color:#ffffff;
    text-decoration:none;
    font-weight:700;
    margin-bottom:6px;
}

.tech-sidebar a span{
    margin-left:auto;
    background:red;
    color:white;
    padding:3px 8px;
    border-radius:50px;
    font-size:12px;
}

.tech-sidebar a.active,
.tech-sidebar a:hover{
    background:red;
    color:white;
}

.tech-sidebar .logout{
    margin-top:40px;
    color:red;
}

.tech-sidebar .logout:hover{
    color:white;
}

.tech-main{
    margin-left:260px;
    width:calc(100% - 260px);
    padding:25px;
}

.tech-top{
    height:105px;
    background:black;
    margin:-25px -25px 30px;
    padding:18px 35px;
    border-bottom:3px solid red;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.tech-search{
    width:48%;
    position:relative;
    margin-left:120px;
}

.tech-search form{
    display:flex;
    width:100%;
}

.tech-search input{
    width:100%;
    height:58px;
    border:none;
    border-radius:35px;
    padding:0 70px 0 30px;
    font-size:18px;
    outline:none;
    flex:1;
}

.tech-search button{
    position:absolute;
    right:8px;
    top:50%;
    transform:translateY(-50%);
    width:40px;
    height:40px;
    border:none;
    background:white;
    font-size:22px;
    cursor:pointer;
}

.tech-icons{
    display:flex;
    align-items:center;
    gap:30px;
}

.tech-icons a{
    color:white;
    text-decoration:none;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:6px;
    font-size:13px;
}

.tech-icons i{
    font-size:38px;
}

.tech-profile img{
    width:43px;
    height:43px;
    border-radius:50%;
    object-fit:cover;
}

.tech-main h1{
    font-size:28px;
}

.welcome{
    color:#666;
    margin:10px 0 25px;
}

.tech-stats{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:18px;
    margin-bottom:25px;
}

.stat-card{
    background:white;
    border-radius:14px;
    padding:22px;
    display:flex;
    gap:18px;
    align-items:center;
    box-shadow:0 3px 12px rgba(0,0,0,.07);
}

.stat-card i{
    width:55px;
    height:55px;
    border-radius:12px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:24px;
}

.stat-card p{
    color:#555;
    font-weight:700;
}

.stat-card h2{
    margin:7px 0;
    font-size:30px;
}

.stat-card a{
    font-size:13px;
    color:red;
    text-decoration:none;
    font-weight:800;
}

.red{background:#ffe8e8;color:red;}
.blue{background:#e8f0ff;color:#1d6cff;}
.green{background:#e8ffe8;color:#16a34a;}
.orange{background:#fff0df;color:#ff8a00;}
.purple{background:#f3e8ff;color:#8b35ff;}

.tech-content{
    display:grid;
    grid-template-columns:1.2fr .9fr;
    gap:25px;
}

.table-card,
.overview-card,
.messages-card{
    background:white;
    border-radius:14px;
    padding:25px;
    box-shadow:0 3px 12px rgba(0,0,0,.07);
}

.card-head{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.card-head a{
    color:red;
    text-decoration:none;
    font-weight:800;
}

.card-head select{
    padding:8px 12px;
    border:1px solid #ddd;
    border-radius:6px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    padding:14px;
    border-bottom:1px solid #eee;
    text-align:left;
}

th{
    color:#555;
}

.status{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    min-width:130px;
    text-align:center;
    white-space:nowrap;
    padding:8px 12px;
    border-radius:6px;
    font-weight:800;
    font-size:12px;
}

td .status{
    width:110px;
}

.status.in-progress{
    background:#e8f0ff;
    color:#1d6cff;
}

.status.workshop-repair{
    background:#f4e8ff;
    color:#8b5cf6;;
}

.status.assigned{
    background:#fff0df;
    color:#ff8a00;
}

.status.completed{
    background:#e8ffe8;
    color:#16a34a;
}

.status.cancelled{
    background:#ffe8e8;
    color:red;
}

.side-cards{
    display:flex;
    flex-direction:column;
    gap:25px;
}

.donut{
    width:170px;
    height:170px;
    border-radius:50%;
    margin:15px auto;
    display:flex;
    justify-content:center;
    align-items:center;
}

.donut-inner{
    width:110px;
    height:110px;
    background:white;
    border-radius:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.legend p{
    display:flex;
    justify-content:space-between;
    margin:12px 0;
}

.blue-dot,
.purple-dot,
.green-dot,
.orange-dot{
    width:12px;
    height:12px;
    display:inline-block;
    border-radius:50%;
    margin-right:8px;
}

.blue-dot{background:#1d6cff;}
.purple-dot{background:#8b5cf6;}
.green-dot{background:#16a34a;}
.orange-dot{background:#ff8a00;}

.msg{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:18px;
}

.msg img{
    width:42px;
    height:42px;
    border-radius:50%;
}

.msg p{
    color:#555;
    font-size:13px;
}

.msg small{
    margin-left:auto;
    color:#777;
}

@media(max-width:1200px){
    .tech-stats{
        grid-template-columns:repeat(2,1fr);
    }

    .tech-content{
        grid-template-columns:1fr;
    }
}

.badge-wrap{
    position:relative;
}

.live-badge{
    position:absolute;
    top:-8px;
    right:-8px;
    min-width:20px;
    height:20px;
    background:red;
    color:white;
    border-radius:50%;
    font-size:11px;
    font-weight:800;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:99;
}